---
import Card from "../basic/Card.astro";
import BadgeSquare from "./BadgeSquare.astro";
import { Icon } from "astro-icon/components";

interface Props {
  classList?: string;
  type: "horizontal" | "vertical";
  links: {
    name: string;
    url: string;
    icon: string;
    customIcon: boolean;
  }[];
}

const { type, links, classList } = Astro.props;
---

{
  type === "horizontal" ? (
    <div class:list={["flex flex-wrap gap-2", classList]}>
      {links.map((item) => (
        <a href={item.url} target="_blank">
          <BadgeSquare title={item.name} class="text-xl">
            {item.customIcon ? (
              <Icon name={item.icon} />
            ) : (
              <i class={item.icon} />
            )}
          </BadgeSquare>
        </a>
      ))}
    </div>
  ) : (
    <div class:list={["flex flex-col gap-2", classList]}>
      {links.map((item) => (
        <a href={item.url} target="_blank">
          <Card class:list="flex justify-between items-center p-1">
            <BadgeSquare title={item.name} class="text-xl">
              {item.customIcon ? (
                <Icon name={item.icon} />
              ) : (
                <i class={item.icon} />
              )}
            </BadgeSquare>

            <h3 class="font-medium">{item.name}</h3>

            <p class="px-2">↗</p>
          </Card>
        </a>
      ))}
    </div>
  )
}
