---
import Card from "../basic/Card.astro";
import FormattedDate from "../helpers/FormattedDate.astro";
import ExcerptText from "../helpers/ExcerptText.astro";

interface Props {
  post: any;
}
const { post } = Astro.props;
const postData = post.data;
---

<a href={`/posts/${post.slug}/`}>
  <Card class:list="flex gap-4 p-2">
    <div class="flex min-w-max">
      <img
        src={post.data.image?.url}
        alt={post.data.image?.alt}
        class="w-auto h-20 aspect-square object-cover rounded-md hover:filter-gray"
        style="transition: all 0.5s;"
      />
    </div>

    <div class="flex flex-col overflow-hidden">
      <p class="font-bold">{post.data.title}</p>
      <small><ExcerptText text={post.data.description} maxLength={50} /></small>
      <p class="inline-flex gap-2 mt-auto text-sm whitespace-nowrap">
        <span>
          <FormattedDate date={post.data.pubDate} />
        </span>

        <span>|</span>
        <span class="truncate">tags: {post.data.tags.join(", ")} </span>
      </p>
    </div>
  </Card>
</a>
