---
import Card from "../basic/Card.astro";
import Badge from "../basic/Badge.astro";
import FormattedDate from "../helpers/FormattedDate.astro";
import ExcerptText from "../helpers/ExcerptText.astro";

interface Props {
  post: any;
}
const { post } = Astro.props;
const postData = post.data;
---

<a href={`/posts/${post.slug}/`}>
  <Card class:list="flex flex-col gap-4 p-4">
    <img src={postData.image.url} alt={postData.image.alt} class="rounded-lg" />

    <div class="border-t border-accent pt-4">
      <h3 class="font-bold">{postData.title}</h3>
      <small><FormattedDate date={postData.pubDate} /></small>
      <p class="text-base text-text-2">
        <ExcerptText text={postData.description} maxLength={100} />
      </p>
    </div>

    <div class="inline-flex gap-2 flex-wrap">
      {
        postData.tags.map((tag: string) => (
          <Badge classList="px-2">{tag}</Badge>
        ))
      }
    </div>
  </Card>
</a>
