---
import BadgeSquare from "./BadgeSquare.astro";
import { Icon } from "astro-icon/components";

interface Props {
  category: string;
  stack: {
    name: string;
    url: string;
    icon: string;
    customIcon: boolean;
  }[];
}

const { category, stack } = Astro.props;
---

<div class="flex flex-col gap-2">
  <p class="text-text-2">{category}</p>

  <div class="flex flex-wrap gap-4">
    {
      stack.map((item) => (
        <a href={item.url} target="_blank">
          <BadgeSquare title={item.name} class="text-3xl">
            {item.customIcon ? (
              <Icon name={item.icon} />
            ) : (
              <i class={item.icon} />
            )}
          </BadgeSquare>
        </a>
      ))
    }
  </div>

  <script>
    const badges = document.querySelectorAll(".badge-icon");

    badges.forEach((badge) => {
      badge.addEventListener("mouseover", () => {
        badge.querySelector("i")?.classList.add("colored");
      });

      badge.addEventListener("mouseleave", () => {
        badge.children[0].classList.remove("colored");
      });
    });
  </script>
</div>
