---
import FormattedDate from "../helpers/FormattedDate.astro";
import { PostView } from "../../utils/Post";
import Link from "./Link.astro";

interface Props {
  post: any;
  view: PostView;
}
const { post, view } = Astro.props;
---

{
  view === PostView.normal ? (
    <Link
      href={`/posts/${post.slug}/`}
      class:list={["flex flex-col gap-2 mb-4"]}
    >
      <div class="w-100 rounded overflow-hidden">
        <img
          src={post.data.image?.url}
          alt={post.data.image?.alt}
          class="object-cover hover:scale-110 d-none"
          style="transition: all 0.5s;"
        />
      </div>
      <div class="flex gap-6 justify-between">
        <h4 class="title m-0">
          {post.data.title} · {post.data.type}
        </h4>
        <p class="date">
          <FormattedDate date={post.data.pubDate} />
        </p>
      </div>
    </Link>
  ) : (
    <Link
      href={`/posts/${post.slug}/`}
      class:list={
        "p-3 my-4 hover:no-underline flex gap-4 border border-default-border bg-default-accent rounded"
      }
    >
      <div class="flex min-w-max">
        <img
          src={post.data.image?.url}
          alt={post.data.image?.alt}
          class="w-auto h-20 aspect-square object-cover rounded-md hover:filter-gray"
          style="transition: all 0.5s;"
        />
      </div>

      <div class="flex flex-col overflow-hidden">
        <p class="font-bold">{post.data.title}</p>
        <p>{post.data.description}</p>
        <p class="inline-flex gap-2 mt-auto text-sm whitespace-nowrap">
          <span>
            <FormattedDate date={post.data.pubDate} />
          </span>

          <span>|</span>
          <span class="truncate">tags: {post.data.tags.join(", ")} </span>
        </p>
      </div>
    </Link>
  )
}
