---
import FormattedDate from "../helpers/FormattedDate.astro";
import Card from "./Card.astro";
import Badge from "./Badge.astro";

interface Props {
  post: any;
}
const { post } = Astro.props;
const postData = post.data;
---

<a href={`/posts/${post.slug}/`}>
  <Card classList="flex flex-col gap-4">
    <img src={postData.image.url} alt={postData.image.alt} class="rounded-lg" />

    <div class="border-t border-accent pt-4">
      <h3 class="font-bold">{postData.title}</h3>
      <small><FormattedDate date={postData.pubDate} /></small>
      <p class="text-base text-text-2">
        {postData.description.substring(0, 97).concat("...")}
      </p>
    </div>

    <div class="inline-flex gap-2 flex-wrap">
      {
        postData.tags.map((tag: string) => (
          <Badge classList="px-2">{tag}</Badge>
        ))
      }
    </div>
  </Card>
</a>
