---
import FormattedDate from "../helpers/FormattedDate.astro";
import { PostView } from "../../utils/Post";
import Link from "./Link.astro";

interface Props {
  post: any;
  view: PostView;
  postCollection?: string;
}
const { post, view, postCollection } = Astro.props;
---

{
  view === PostView.normal ? (
    <Link href={`/${postCollection}/${post.slug}/`}>
      <div class="w-100 rounded overflow-hidden">
        <img
          src={post.data.image?.url}
          alt={post.data.image?.alt}
          class="object-cover hover:scale-110 d-none"
          style="transition: all 0.5s;"
        />
      </div>
      <h4 class="title">{post.data.title}</h4>
      <p class="date">
        <FormattedDate date={post.data.pubDate} />
      </p>
    </Link>
  ) : (
    <div class="flex justify-between gap-6">
      <Link href={`/${postCollection}/${post.slug}/`}>
        <p class="title">{post.data.title}</p>
      </Link>
      <p class="date">
        <FormattedDate date={post.data.pubDate} />
      </p>
    </div>
  )
}
