---
import FormattedDate from "../helpers/FormattedDate.astro";
import { PostView } from "../../utils/Post";
import Link from "./Link.astro";

interface Props {
  post: any;
  view: PostView;
}
const { post, view } = Astro.props;
---

{
  view === PostView.normal ? (
    <Link
      href={`/posts/${post.slug}/`}
      class:list={["flex flex-col gap-2 mb-4"]}
    >
      <div class="w-100 rounded overflow-hidden">
        <img
          src={post.data.image?.url}
          alt={post.data.image?.alt}
          class="object-cover hover:scale-110 d-none"
          style="transition: all 0.5s;"
        />
      </div>
      <div class="flex gap-6 justify-between">
        <h4 class="title m-0">
          {post.data.title} · {post.data.type}
        </h4>
        <p class="date">
          <FormattedDate date={post.data.pubDate} />
        </p>
      </div>
    </Link>
  ) : (
    <div class="flex justify-between gap-6">
      <Link href={`/posts/${post.slug}/`}>
        <p class="title">{post.data.title}</p>
      </Link>
      <p class="date">
        <FormattedDate date={post.data.pubDate} />
      </p>
    </div>
  )
}
