---
import FormattedDate from "../../components/helpers/FormattedDate.astro";
import { PostView } from "../../utils/Post";
import Link from "./Link.astro";

interface Props {
  post: any;
  view: PostView;
  collection: string;
}
const { post, view, collection } = Astro.props;
---

<Link href={`/${collection}/${post.slug}/`}>
  {
    view === PostView.normal ? (
      <img src={post.data.image?.url} alt={post.data.image?.alt} />
      <h4 class="title">{post.data.title}</h4>
      <p class="date">
          <FormattedDate date={post.data.pubDate} />
      </p>
    ) : (
      <p class="flex gap-6">
        <span class="date">
            <FormattedDate date={post.data.pubDate} />
        </span>
        <span class="title">{post.data.title}</span>        
      </p>
    )
  }
</Link>