---
import { Icon } from "astro-icon/components";
import { SHARE_LINKS } from "@consts";

interface Props {
  title: string;
  description?: string;
  url: string;
}

const { title, description, url } = Astro.props;
const getText = () => {
  const truncatedDescription = description && description.length > 100
    ? `${description.slice(0, 100)}...`
    : description;
  return `Hi! 👋\n I'm reading ${title} on Wesley's Website. Check it out! \n\n ${truncatedDescription}`;
};

const encode = (text: string) => encodeURIComponent(text);

const socialLinks = [
  {
    name: "X",
    url: SHARE_LINKS.x.replace("{url}", encode(url)).replace("{text}", encode(getText())),
    icon: "x",
  },
  {
    name: "Facebook",
    url: SHARE_LINKS.facebook.replace("{url}", encode(url)).replace("{title}", encode(title)),
    icon: "facebook",
  },
  {
    name: "LinkedIn",
    url: SHARE_LINKS.linkedin.replace("{url}", encode(url)).replace("{title}", encode(title)),
    icon: "linkedin",
  },
  {
    name: "WhatsApp",
    url: SHARE_LINKS.whatsapp.replace("{text}", encode(getText() + ' ' + url)),
    icon: "whatsapp",
  },
  {
    name: "Telegram",
    url: SHARE_LINKS.telegram.replace("{url}", encode(url)).replace("{text}", encode(getText())),
    icon: "telegram",
  },
  {
    name: "Email",
    url: SHARE_LINKS.email.replace("{title}", encode(title)).replace("{text}", encode(getText())),
    icon: "email",
  },
];

---


<div class="mb-6">
  <p class="italic">Share it!</p>

  <div class="flex gap-3">
    {
      socialLinks.map((socialLink) => (
        <a
          href={socialLink.url}
          target="_blank"
          rel="noopener noreferrer"
          class="hover:opacity-75 
          text-light-text-3/75 dark:text-dark-text-3/75
          hover:text-light-text-1 dark:hover:text-dark-text-1"
        >
          <Icon name={`logos/${socialLink.icon}`} class="w-5 h-5" />
        </a>
      ))
    }
  </div>
</div>