---
import { WORK } from '@consts';
import { getCollection, type CollectionEntry } from 'astro:content';
import PageLayout from '@layouts/PageLayout.astro';
import Container from '@components/Container.astro';
import WorkPreview from '@components/WorkPreview.astro';
import Pagination from '@components/Pagination.astro';
import Search from '@components/Search.astro';
import { PaginationUtils } from '@lib/pagination-utils';
import { TagUtils } from '@lib/tag-utils';
import { QueryUtils } from '@lib/query-utils';

const allWorkPosts = (await getCollection('work')).sort(
  (a: CollectionEntry<'work'>, b: CollectionEntry<'work'>) =>
    b.data.startDate.valueOf() - a.data.startDate.valueOf()
);

const q = Astro.url.searchParams.get('q');
const tag = Astro.url.searchParams.get('tag');
let filteredPosts = allWorkPosts;
if (q) {
  filteredPosts = QueryUtils.filterPostsByQuery(filteredPosts, q);
}
if (tag) {
  filteredPosts = TagUtils.filterPostsByTag(filteredPosts, tag);
}

const pagination = PaginationUtils.getPagination({ url: Astro.url });
const totalPages = Math.ceil(filteredPosts.length / pagination.size);
const workPosts = filteredPosts.slice(
  pagination.offset,
  pagination.offset + pagination.size
);

const params = new URLSearchParams(Astro.url.search);
params.delete('page');
params.delete('size');
const otherParams = params.toString();

const title =
  q && tag
    ? `${WORK.title} - Search: ${q} in tag: ${tag}`
    : q
      ? `${WORK.title} - Search: ${q}`
      : tag
        ? `${WORK.title} tagged with "${tag}"`
        : WORK.title;
---

<PageLayout title={title} description={WORK.description}>
  <section class="flex flex-col flex-1">
    <Container class="flex flex-col flex-1 w-full">
      <div class="flex-1">
        <h1 class="text-xl font-bold mb-6">Work</h1>

        <Search />

        <ul class="flex flex-col gap-6">
          {
            workPosts.length > 0 ? (
              workPosts.map((post: any) => (
                <li>
                  <WorkPreview post={post} />
                </li>
              ))
            ) : (
              <li>{q ? `No work found for "${q}"` : 'No work found'}</li>
            )
          }
        </ul>
      </div>

      {
        totalPages > 0 && (
          <Pagination
            currentPage={pagination.page}
            totalPages={totalPages}
            basePath="/work"
            size={pagination.size}
            otherParams={otherParams}
          />
        )
      }
    </Container>
  </section>
</PageLayout>

<script>
  import { pageUtils } from '@lib/page-utils';
  pageUtils.initWorkPage();
</script>
