---
import { WORK } from "@consts";
import { getCollection, type CollectionEntry } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import WorkPreview from "@components/WorkPreview.astro";
import Pagination from "@components/Pagination.astro";
import { getPagination } from "@lib/pagination";

const allWorkPosts = (await getCollection("work")).sort(
	(a: CollectionEntry<"work">, b: CollectionEntry<"work">) =>
		b.data.startDate.valueOf() - a.data.startDate.valueOf(),
);

const pagination = getPagination({ url: Astro.url });
const totalPages = Math.ceil(allWorkPosts.length / pagination.size);
const workPosts = allWorkPosts.slice(
	pagination.offset,
	pagination.offset + pagination.size,
);
---

<PageLayout title={WORK.title} description={WORK.description}>
	<section class="flex flex-col flex-1">
		<Container class="flex flex-col flex-1 w-full">
			<div class="flex-1">
				<h1 class="text-xl font-bold mb-6">Work</h1>

				<ul class="flex flex-col gap-6">
					{
						workPosts.length > 0 ? (
							workPosts.map((post: any) => (
								<li>
									<WorkPreview post={post} />
								</li>
							))
						) : (
							<li>No work found</li>
						)
					}
				</ul>
			</div>

			{
				totalPages > 0 && (
					<Pagination
						currentPage={pagination.page}
						totalPages={totalPages}
						basePath="/work"
						size={pagination.size}
					/>
				)
			}
		</Container>
	</section>
</PageLayout>

<script>
	import { filterPostsByTag } from "@lib/tag";
	filterPostsByTag();
</script>
