---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/helpers/FormattedDate.astro";
import BaseLayout from "./Scaffold.astro";
import Container from "../components/basic/Container.astro";
import Link from "../components/basic/Link.astro";
import SharePost from "../components/specific/SharePost.astro";
import Button from "../components/basic/Button.astro";

type Props = CollectionEntry<"posts">["data"];

const {
  title,
  description,
  pubDate,
  updatedDate,
  author,
  image,
  tags,
  repository,
  deploy,
} = Astro.props;
---

<BaseLayout title={title} description={description}>
  <Container>
    <article class="flex flex-col gap-6">
      <div
        class=`w-100 rounded overflow-hidden ${image == undefined ? "hidden" : ""}`
      >
        <img
          src={image?.url}
          alt={image?.alt}
          class="aspect-[21/9] w-full object-cover object-top hover:scale-110"
          style="transition: all 0.5s;"
        />
      </div>

      <p class="m-0 text-text-2">
        <span>by {author}</span>
        <span>·</span>
        <span>
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </span>
      </p>

      <div class="content border-b border-accent pb-6">
        <slot />
      </div>

      <div class="flex gap-2">
        {
          repository && (
            <Link href={repository} target="_blank">
              <Button class="font-medium px-2 py-1 bg-body-3 hover:shadow transition-shadow duration-200 ease-in-out">
                Repository
              </Button>
            </Link>
          )
        }

        {
          deploy && (
            <Link href={deploy} target="_blank">
              <Button class="font-medium px-2 py-1 bg-body-3 hover:shadow transition-shadow duration-200 ease-in-out">
                Deployment
              </Button>
            </Link>
          )
        }
      </div>

      <div class="flex gap-2 mb-6">
        Tags:
        {
          tags?.map((item: string) => {
            return <Link href={`/posts/?tag=${item}`}>#{item}</Link>;
          })
        }
      </div>

      <SharePost title={title} description={description} tags={tags} />
    </article>
  </Container>
</BaseLayout>
