---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/helpers/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";
import Container from "../components/basic/Container.astro";
import Link from "../components/basic/Link.astro";
import Button from "../components/basic/Button.astro";

type Props = CollectionEntry<"posts">["data"];

const {
  title,
  description,
  pubDate,
  updatedDate,
  author,
  type,
  image,
  tags,
  links,
} = Astro.props;
---

<BaseLayout title={title} description={description}>
  <Container>
    <article class="">
      <div
        class=`w-100 rounded overflow-hidden ${image == undefined ? "hidden" : ""}`
      >
        <img
          src={image?.url}
          alt={image?.alt}
          class="object-cover hover:scale-110"
          style="transition: all 0.5s;"
        />
      </div>

      <div class="flex flex-col gap-2 py-2 border-b-[1px]">
        <h1 class="m-0">
          <p class="m-0">
            <span>{title}</span>
            <span>·</span>
            <span>
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </span>
          </p>

          <small class="m-0">by {author}</small>
        </h1>

        <div class=`${links != undefined ? "flex" : "hidden"} gap-2`>
          Related links:
          {
            links?.map((link) => {
              return (
                <Link
                  href={link.url}
                  target="_blank"
                  class:list={"text-cyan-600 hover:text-cyan-400"}
                >
                  {link.title}
                </Link>
              );
            })
          }
        </div>
      </div>

      <div class="flex flex-col my-3">
        <slot />
        <div class="flex gap-2">
          Tags:
          {
            tags?.map((item) => {
              return <Link href={`/tags/${item}`}>#{item}</Link>;
            })
          }
        </div>
      </div>
    </article>
  </Container>
</BaseLayout>
